body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

main {
    display: flex;
    justify-content: space-around;
}

#left-section {
    display: flex;
    flex-direction: column;
}

#pokemon-sprite {
    border: solid black 2px;
    height: 463px;
    width: 463px;
}
