body {
  margin: 0;
  font-family: "Inter";
}

header {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  margin-top: 46px;
  margin-bottom: 25px;
}

main {
  display: flex;
  justify-content: space-evenly;
}

#pokemon-sprite {
  border: solid #000000 4px;
  height: 463px;
  width: 463px;
}

#pokemon-name {
  background-color: #e8e8e8;
  text-align: center;
  font-size: 36px;
  border: solid #000000 1px;
  border-radius: 5px;
  padding: 11.5px 0;
}

#type-box-section h4 {
  margin: 0;
}

#type-box-section ul {
  display: flex;
  max-width: 150px;
  justify-content: space-between;
  padding: 0%;
}

#type-box-section ul li {
  list-style: none;
  border: solid transparent 1px;
  border-radius: 5px;
  width: 65px;
  padding: 2px;
  text-align: center;
}

#arrow-buttons-section {
  display: flex;
  justify-content: space-evenly;
}

#arrow-buttons-section button {
  display: flex;
  justify-content: space-evenly;
  color: #000000;
  border: solid transparent 1px;
  border-radius: 4px;
  font-size: 5em;
  margin-top: 40px;
  background-color: #e8e8e8;
  height: 69px;
  width: 173px;
}

#arrow-buttons-section button img {
  margin-top: 2px;
  height: 60px;
}

#right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#right-header {
  text-align: center;
  margin-top: 0;
  font-size: 36px;
  height: 44px;
  width: 68px;
}

#info-move-info-section {
  overflow: auto;
  background-color: #e8e8e8;
  width: 486px;
  height: 598px;
  margin-top: 10px;
}

#info-move-content {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 36px;
}

#info-move-buttons {
  display: flex;
  margin-top: 69px;
  justify-content: space-between;
  width: 380px;
}

#info-move-buttons button {
  border: solid transparent 1px;
  border-radius: 4px;
  width: 173px;
  height: 69px;
  font-size: 36px;
}

.content-visibility {
  content-visibility: hidden;
}
